<div class="table-conteiner">
  <div class="table-items">
    <table class="table-5">
      <tbody>
        <tr>
          <th>Xi/Xj</th>
          <th>X1</th>
          <th>X2</th>
          <th>X3</th>
          <th>X4</th>
          <th>X5</th>
          <th>X6</th>
          <th>X7</th>
          <th>X8</th>
          <th>X9</th>
          <th>X10</th>
          <th>X11</th>
          <th>X12</th>
          <th>X13</th>
          <th>X14</th>
          <th>X15</th>
        </tr>
        <tr>
          <th>X1</th>
          <td><select [(ngModel)]="x1_1">
              <option>1</option>
            </select>
          </td>
          <td>
            <select class="table-select" [(ngModel)]="x1_2">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x1_3">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x1_4">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x1_5">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x1_6">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x1_7">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x1_8">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x1_9">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x1_10">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x1_11">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x1_12">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x1_13">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x1_14">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x1_15">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>X2</th>
          <td><select class="table-select" [(ngModel)]="x2_1">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x2_2">
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x2_3">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x2_4">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x2_5">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x2_6">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x2_7">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x2_8">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x2_9">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x2_10">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x2_11">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x2_12">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x2_13">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x2_14">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x2_15">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>X3</th>
          <td><select class="table-select" [(ngModel)]="x3_1">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x3_2">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x3_3">
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x3_4">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x3_5">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x3_6">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x3_7">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x3_8">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x3_9">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x3_10">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x3_11">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x3_12">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x3_13">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x3_14">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x3_15">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>X4</th>
          <td><select class="table-select" [(ngModel)]="x4_1">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x4_2">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x4_3">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x4_4">
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x4_5">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x4_6">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x4_7">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x4_8">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x4_9">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x4_10">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x4_11">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x4_12">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x4_13">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x4_14">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x4_15">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>X5</th>
          <td><select class="table-select" [(ngModel)]="x5_1">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x5_2">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x5_3">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x5_4">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x5_5">
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x5_6">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x5_7">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x5_8">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x5_9">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x5_10">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x5_11">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x5_12">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x5_13">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x5_14">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x5_15">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>X6</th>
          <td><select class="table-select" [(ngModel)]="x6_1">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x6_2">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x6_3">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x6_4">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x6_5">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x6_6">
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x6_7">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x6_8">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x6_9">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x6_10">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x6_11">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x6_12">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x6_13">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x6_14">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x6_15">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>X7</th>
          <td><select class="table-select" [(ngModel)]="x7_1">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x7_2">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x7_3">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x7_4">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x7_5">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x7_6">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x7_7">
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x7_8">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x7_9">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x7_10">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x7_11">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x7_12">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x7_13">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x7_14">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x7_15">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>X8</th>
          <td><select class="table-select" [(ngModel)]="x8_1">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x8_2">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x8_3">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x8_4">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x8_5">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x8_6">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x8_7">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x8_8">
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x8_9">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x8_10">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x8_11">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x8_12">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x8_13">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x8_14">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x8_15">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>X9</th>
          <td><select class="table-select" [(ngModel)]="x9_1">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x9_2">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x9_3">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x9_4">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x9_5">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x9_6">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x9_7">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x9_8">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x9_9">
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x9_10">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x9_11">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x9_12">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x9_13">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x9_14">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x9_15">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>X10</th>
          <td><select class="table-select" [(ngModel)]="x10_1">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x10_2">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x10_3">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x10_4">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x10_5">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x10_6">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x10_7">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x10_8">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x10_9">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x10_10">
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x10_11">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x10_12">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x10_13">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x10_14">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x10_15">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>X11</th>
          <td><select class="table-select" [(ngModel)]="x11_1">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x11_2">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x11_3">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x11_4">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x11_5">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x11_6">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x11_7">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x11_8">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x11_9">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x11_10">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x11_11">
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x11_12">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x11_13">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x11_14">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x11_15">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>X12</th>
          <td><select class="table-select" [(ngModel)]="x12_1">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x12_2">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x12_3">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x12_4">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x12_5">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x12_6">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x12_7">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x12_8">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x12_9">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x12_10">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x12_11">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x12_12">
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x12_13">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x12_14">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x12_15">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>X13</th>
          <td><select class="table-select" [(ngModel)]="x13_1">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x13_2">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x13_3">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x13_4">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x13_5">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x13_6">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x13_7">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x13_8">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x13_9">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x13_10">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x13_11">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x13_12">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x13_13">
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x13_14">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x13_15">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>X14</th>
          <td><select class="table-select" [(ngModel)]="x14_1">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x14_2">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x14_3">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x14_4">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x14_5">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x14_6">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x14_7">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x14_8">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x14_9">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x14_10">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x14_11">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x14_12">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x14_13">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x14_14">
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x14_15">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>X15</th>
          <td><select class="table-select" [(ngModel)]="x15_1">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x15_2">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x15_3">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x15_4">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x15_5">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x15_6">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x15_7">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x15_8">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x15_9">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x15_10">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x15_11">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x15_12">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x15_13">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x15_14">
              <option>0</option>
              <option>1</option>
            </select>
          </td>
          <td><select class="table-select" [(ngModel)]="x15_15">
              <option>1</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
