<div class="table-container">
  <div class="table-items">
    <table class="table-4">
      <tbody>
        <tr>
          <th>Rj</th>
          <th>R1</th>
          <th>R2</th>
          <th>R3</th>

        </tr>
        <tr>
          <th>R1</th>
          <td><input tabindex="0" autocomplete="off" [(ngModel)]="r1_1" matInput></td>
          <td><input tabindex="2" autocomplete="off" [(ngModel)]="r1_2" matInput></td>
          <td><input tabindex="3" autocomplete="off" [(ngModel)]="r1_3" matInput></td>
        </tr>
        <tr>
          <th>R2</th>
          <td><input tabindex="4" autocomplete="off" [(ngModel)]="r2_1" matInput></td>
          <td><input tabindex="5" autocomplete="off" [(ngModel)]="r2_2" matInput></td>
          <td><input tabindex="6" autocomplete="off" [(ngModel)]="r2_3" matInput></td>
        </tr>
        <tr>
          <th>R3</th>
          <td><input tabindex="7" autocomplete="off" [(ngModel)]="r3_1" matInput></td>
          <td><input tabindex="8" autocomplete="off" [(ngModel)]="r3_2" matInput></td>
          <td><input tabindex="9" autocomplete="off" [(ngModel)]="r3_3" matInput></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
