<mat-dialog-content class="mat-typography">
  <table mat-table [dataSource]="tableSource" class="table-1">

    <!-- Index Column -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef> Xj </th>
      <td mat-cell *matCellDef="let element"> {{element.index}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Загроза </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
  </table>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close class="dialog-button">Закрити</button>
</mat-dialog-actions>
