<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <span class="nav-tool-items">
    <div class="toolbar-container">
      <div class="toolbar-items">
        <button mat-stroked-button class="toolbar-link" routerLink="login" routerLinkActive="active">Увійти</button>
      </div>
      <div class="toolbar-items">
        <button mat-stroked-button class="toolbar-link" routerLink="register"
          routerLinkActive="active">Зареєструватися</button>
      </div>
    </div>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>
